<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DineshKumar</title>
<!--    <link rel="icon"  href="{% static 'images/favicon.ico' %}" type="image/gif">-->
<!--    <link rel="icon"  href="{% static 'images/favicon-16x16.png' %}" type="image/gif">-->
<!--    <link rel="icon"  href="{% static 'images/favicon.ico-32x32.png' %}" type="image/gif">-->
<!--    <link rel="apple-touch-icon"  href="{% static 'images/apple-touch-icon.png' %}" type="image/gif">-->
<!--    <link rel="apple-chrome-192x192"  href="{% static 'images/apple-chrome-192x192.png' %}" type="image/gif">-->
<!--    <link rel="apple-chrome-512x512"  href="{% static 'images/apple-chrome-512x512.png' %}" type="image/gif">-->

     <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>



</head>
<body>

<div class="d-flex justify-content-center">

    <div class="d-flex spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>


</div>


</body>
</html>